@font-face {
    font-family: Yeseva_One;
    src: url("static/fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: Work_Sans;
    src: url("static/fonts/DMSans-Regular.ttf");
}

*{
    font-family: Yeseva_One, Work_Sans, monospace;
}

html {
    scroll-behavior: smooth;
}